/* TO-DO */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.board {
  background-color: bisque;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x {
  color: darkorange;
}

.o {
  color: firebrick;
}
